setColor("BLUE")
printf("TegraScript Bluetooth and Wifi syncer")
printf("")

setColor("RED")
printf("Ban Warning!")
printf("Make sure all wifi networks have been")
printf("   deleted from SYSMMC (stock)")
printf("      before running this!!!")
printf("")

setColor("YELLOW")
printf("This script will copy the wifi and bluetooth   information from SYSMMC to EMUMMC")
printf("")

setColor("VIOLET")
printf("Press power to continue, vol+/- to exit")

if (@EMUMMC, == , 0){
    setColor("RED")
    printf("No emummc is detected. Exiting")
	pause()
	exit()
}

wait(10)
pause()

if (@BTN_POWER){
    printf("")   
    setColor("VIOLET")
    printf("Connecting SYSMMC...")
    mmc_connect("SYSMMC")
    
    printf("Mounting SYSTEM...")
    mmc_mount("SYSTEM")
    printf("")
   
    setColor("WHITE")
    printf("Copying 8000000000000050 to sd:/tegraexplorer/netsync"),
    fs_mkdir("sd:/tegraexplorer")
    fs_mkdir("sd:/tegraexplorer/netsync")
	
    fs_copy("emmc:/save/8000000000000050", "sd:/tegraexplorer/netsync/8000000000000050_sysmmc_backup")
	if (@RESULT) {
		printf("Something went terribly wrong!")
		pause()
		exit()
	}
	
    printf("")   
    
    setColor("VIOLET")  
    printf("Connecting EMUMMC")
    mmc_connect("EMUMMC")

    printf("Mounting SYSTEM")
	
    mmc_mount("SYSTEM")
	if (@RESULT) {
		printf("Something went terribly wrong!")
		pause()
		exit()
	}
	
    printf("")
    setColor("WHITE")
    printf("Copying 8000000000000050 to EMUMMC")
	
	fs_copy("emmc:/save/8000000000000050", "sd:/tegraexplorer/netsync/8000000000000050_emummc_backup")
	if (@RESULT) {
		printf("Something went terribly wrong!")
		pause()
		exit()
	}
	
    fs_copy("sd:/tegraexplorer/netsync/8000000000000050_sysmmc_backup", "emmc:/save/8000000000000050")
	if (@RESULT) {
		printf("Something went terribly wrong!")
		pause()
		exit()
	}
	
	printf("")   
    setColor("GREEN")
	printf("Done!")
    printf("Wifi and bluetooth settings ")
	printf("   have been copied from SYS to EMU!")
    printf("")
    setColor("ORANGE")
    printf("Press any button to exit")
	
    pause()
}

exit()
